/* ------------------------------------------------------------------

[Table of contents]

1 Body

    1.1 Top header
        1.1.1 Header - nav buttons

    1.2 Content
        1.2.1   Features
        1.2.2   Page header

    1.3 Pages
        1.3.1   Gallery
        1.3.2   Pricing plan
        1.3.3   Testimonials
        1.3.4   Shop detail
        1.3.5   Reviews and comments
        1.3.6   Shop home
        1.3.7   Terms
        
    1.4 Footer

2 Components

    2.1     Effects
    2.2     Carousel
    2.3     Buttons
    2.4     Forms
    2.5     Tabs
    2.6     Dropdown
    2.7     Pagination

[Colors]
    Blue #0a9fd8
    Blue dark #2987ab 



[1 Body]
------------------------------------------------------------------- */

a:hover {
    color: #0a9fd8;
}

.highlight-text {
    color: #0a9fd8;
}

.highlight-bg {
    color: #0a9fd8;
}

/* ------------------------------------------------------------------
[1.1 Top header]
------------------------------------------------------------------ */
.navigation ul li:hover::before {
    color: #0a9fd8;
}

#top-header .language-picker .dropdown-menu li a:hover,
#top-header .language-picker .dropdown-menu li:hover
{
    background: #ffffff;
    color: #0a9fd8;
}

/* ------------------------------------------------------------------
[1.1.1 Header - nav buttons]
------------------------------------------------------------------ */
.navbar .nav li.active a,
.navbar .nav li:hover a,
.navbar .nav li.active:hover a,
.navbar .nav li.active a:focus,
.navbar .nav li.active a:active
{
    color: #0a9fd8;
}

.navbar .nav li.active a:hover
{
    color: #0a9fd8;
}

/* Mobile editions */
@media(max-width: 768px) {
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle {
        background: transparent;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background: #0a9fd8;
    }

    .navbar-default .navbar-toggle:focus .icon-bar, 
    .navbar-default .navbar-toggle:hover .icon-bar {
        background: #666666;
    }

    .nav>li:hover,
    .nav>li:hover>a {
        background: #0a9fd8;
        color: #fff !important;
    }
}

/* ------------------------------------------------------------------
[1.2 Content]

[1.2.1 Features]
------------------------------------------------------------------ */
.features .feature i {
    color: #0a9fd8;
}

.features a:hover .feature,
.features a:hover .feature i,
.features a:hover .feature h1 {
    color: #555;
}

.headline.headline-primary {
    background-color: #0a9fd8;
}

/* ------------------------------------------------------------------
[1.2.2 Page header]
------------------------------------------------------------------ */
.page-subheader hr {
    border-color: #0a9fd8;
}

/* ------------------------------------------------------------------
[1.3 Pages]

[1.3.1 Gallery]
------------------------------------------------------------------ */
ul.gallery li.item .contents h1,
ul.gallery li.item .contents p {
    color: #fff;
}

.gallery .carousel-indicators li.active
{
    border: 2px solid #0a9fd8;
    border-radius: 2px;
}

/* ------------------------------------------------------------------
[1.3.2 Pricing plan]
------------------------------------------------------------------ */
.pricing-plans .plan .title span {
    color: #fff;
    background: #0a9fd8;
}

.pricing-plans .plan .actions .btn:hover {
    border: 2px solid #0a9fd8;
    color: #0a9fd8;
}

/* ------------------------------------------------------------------
[1.3.3 Testimonials]
------------------------------------------------------------------ */
.testimonials .item .person .description .organization {
    color: #0a9fd8;
}

/* ------------------------------------------------------------------
[1.3.4 Shop detail]
------------------------------------------------------------------ */
.shop-detail .title .price {
    color: #0a9fd8;
}

/* ------------------------------------------------------------------
[1.3.5 Reviews and comments]
------------------------------------------------------------------ */
.choices.ratings label.star.active {
    color: #0a9fd8;
}

.choices.ratings label.star.active {
    color: #0a9fd8; 
}

/* ------------------------------------------------------------------
[1.3.6 Shop home]
------------------------------------------------------------------ */
.headline-divided.headline-primary .info {
    background: #0a9fd8;
    color: #fff;
}

/* ------------------------------------------------------------------
[1.3.7 Terms]
------------------------------------------------------------------ */
.terms-conditions .terms-category li:hover a,
.terms-conditions .terms-category li.active,
.terms-conditions .terms-category li.active a
{
    color: #0a9fd8;
}

.terms-conditions .terms-category li,
.terms-conditions .terms-category li:hover a
{
    display: block;
    text-decoration: none;
}

/* ------------------------------------------------------------------
[1.4 Footer]
------------------------------------------------------------------ */
.footer-above a {
    color: #0a9fd8; 
}

/* ------------------------------------------------------------------
[2 Components]

[2.1 Effects]
------------------------------------------------------------------ */
.color-hoverlay:hover .contents {
    background-color: rgba(10,159,216, 0.9);
}

.color-hoverlay .btn,
.color-hoverlay .btn-light {
    background: #ffffff;
    color: #0a9fd8;
    opacity: 0.95;
}

.color-hoverlay .btn:hover,
.color-hoverlay .btn-light:hover {
    background: #222;
    opacity: 0.8;
    color: #fff;
}

.color-hoverlay .btn-dark {
    background: #222;
    opacity: 0.8;
    color: #fff;
}

.color-hoverlay .btn-dark:hover {
    background: #ffffff;
    color: #0a9fd8;
    opacity: 0.95;
}

/* ------------------------------------------------------------------
[2.2 Carousel]
------------------------------------------------------------------ */
.carousel-indicators .active {
    background-color: #0a9fd8;
    border-color: #0a9fd8;
}

/* ------------------------------------------------------------------
[2.3 Buttons]
------------------------------------------------------------------ */
.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary.active {
    color: #ffffff !important;
    background: #0a9fd8 !important;
}

.btn-primary:hover,
.btn-primary.active:hover {
    color: #ffffff !important;
    background: #2987ab !important;
}

/* ------------------------------------------------------------------
[2.4 Forms]
------------------------------------------------------------------ */
.input:focus,
.textarea:focus,
.select:focus
{
    border: 1px solid #0a9fd8;
}

/* ------------------------------------------------------------------
[2.5 Tabs]
------------------------------------------------------------------ */
.nav-tabs-custom .nav li.active a {
    border-bottom: 3px solid #0a9fd8;
    color: #0a9fd8;
}

/* ------------------------------------------------------------------
[2.6 Dropdown]
------------------------------------------------------------------ */
#content .dropdown .dropdown-menu li:hover a {
    color: #0a9fd8;
}

/* ------------------------------------------------------------------
[2.7 Pagination]
------------------------------------------------------------------ */
.pagination > li.active a,
.pagination > li.active:hover a,
.pagination > li.active:focus a,
.pagination > li.active:active a {
    background: #0a9fd8 !important;
    border-color: #0a9fd8 !important;
}

.pagination > li a,
.pagination > li:active a,
.pagination > li:focus a,
.pagination > li a:active,
.pagination > li a:focus {
    color: #0a9fd8;
}

.pagination > li:hover a,
.pagination > li a:hover {
    color: #2987ab;
    background: #f9f9f9;
}