@media (min-width: 992px){
  body {
    background: #ddd;
  }
  body, body.menu-fixed {
    margin-top: 0;
  }
  .container {
    width: 1000px;
    margin: 0 auto;
  }
  .navbar {
    position: relative;
    top: auto;
    width: 1020px;
    margin: 20px auto 0;
    border-radius: 20px 20px 0 0;
  }
  #navbar .nav {
    margin-right: 0;
  }
  #main-feature-carousel {
    width: 1020px;
  }
  .headline.lg-block {
    width: 1020px;
    margin: 0 auto;
    padding: 50px 0;
  }
  #features {
    width: 1020px;
    padding-top: 50px;
    margin: 0 auto;
    background: #fff;
  }
  #features .row {
    margin: 0 -25px;
    background: #dedede;
  }
  #features .text-center {
    text-align: left;
  }
  .features .feature {
    float: none;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 20px 100px 40px 200px;
    border-top: 1px solid #f7f7f7;
    background: #fff;
  }
  .features .feature .fa {
    position: absolute;
    left: 80px;
    top: 50px;
  }
  .lg-block {
    margin-bottom: 50px;
  }
  .footer-section {
    width: 1020px;
    margin: 0 auto;
  }
  .footer-below {
    width: 1020px;
    margin: 0 auto 20px;
  }

  #eksplor-peta {
    width: 1020px !important;
    margin: 0 auto;
  }
  #area-peta {
    background: #fff;
  }

  #content {
    width: 1020px;
    margin: 0 auto;
    background: #fff;
  }
  .footer-below {
    border-radius: 0 0 10px 10px;
  }
}
