<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>$$rep:captitledepan$$$$rep:titledepan$$</title>
        
        <meta name="description" content="Senseras"/>
        <link rel="shortcut icon" href="image/favicon.png" type="image/png"/>

        <!-- Fonts -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
        
        <!-- Style -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="css/main.css" type="text/css"/>
        <link rel="stylesheet" href="css/navbar-fixed-top.css" type="text/css" />
        <link rel="stylesheet" href="css/orange.css" type="text/css"/>

        <link rel="stylesheet" href="css/theme4.css" type="text/css"/>
    </head>

    <body class="menu-fixed">

        <!-- Navigation / START -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Show menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" id="logo" href="/">
                        <div class="text">
                        <img alt="Badan Informasi Geospasial" src="$$rep:logositus$$"/>
                                                  <span class="highlight-text">$$rep:captitledepan$$</span>$$rep:titledepan$$
                        </div>
                    </a>
                </div>


                <div id="navbar" class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">
                    
                        <li class="drop active">
                            <a href="index.html">
                                Beranda
                            </a>
                        </li>

                        <li class="drop">
                            <a href="jelajah.html">
                                Jelajah
                            </a>
                        </li>
                        
                        <li class="drop">
                            <a href="cari.html">
                                Cari
                            </a>
                        </li>

                    </ul>

                </div>
            </div>

        </nav><!-- Navigation / END -->
        
        <!-- Main feature / START -->
        <section id="home" class="main-feature no-margin">

            <div class="row">
                <div class="col-xs-12">
                
                    <div id="main-feature-carousel" class="carousel slide carousel-fade carousel-burned" data-ride="carousel">
                        <div class="carousel-outer">
                        
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">

                                <div class='item active'>
                                    <img src="$$rep:gambar1$$" class="image-center img-responsive" alt='Feature' />
                                    <div class="carousel-caption">
                                        <h4>$$rep:captiongambar1$$</h4>
                                    </div>
                                    <div class="carousel-actions">
                                        <a href="cari.html" class="btn btn-clear">Cari Metadata/Dataset</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="$$rep:gambar2$$" class="image-center img-responsive" alt='Feature' />
                                    <div class="carousel-caption">
                                        <h4>$$rep:captiongambar2$$</h4>
                                    </div>
                                    <div class="carousel-actions">
                                        <a href="jelajah.html" class="btn btn-clear">Peta Interaktif</a>
                                    </div>
                                </div>
                            </div>
                                
                            <!-- Controls -->
                            <a class="left carousel-control" href="#main-feature-carousel" data-slide="prev">
                                <span class="icon-prev fa fa-chevron-right"></span>
                            </a>
                            <a class="right carousel-control" href="#main-feature-carousel" data-slide="next">
                                <span class="icon-next fa fa-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                
                </div>
            </div><!-- Row / END -->
        
        </section><!-- Main feature / END -->
        
        <!-- Main content / START -->
        <div id="content">
        
            <!-- Headline / START -->
            <div class="lg-block headline">

                <div class="container">
                    
                    <div class="contents">

                        <div class="row">

                            <div class="col-xs-12 col-sm-12 col-md-12">

                                <h2 class="strong upper">$$rep:innertitle$$</h2>
                                <p class="description">$$rep:innerdesc$$</p>

                            </div>


                        </div>
                        
                    </div>

                </div>

            </div><!-- Headline / END -->

            <section id="features">
                <div class="container">

                    <!-- Features head / START -->
                    <div class="lg-block text-center">

                        <div class="title-big">
                            <h1>$$rep:innertitle2$$</h1>
                        </div>

                        <div class="description">
			    $$rep:innerdesc2$$
                        </div>

                    </div><!-- Features head / END -->

                    <!-- Features / START -->
                    <div class="lg-block features">

                        <div class="row">

                            <!-- Feature / START -->
                            <div class="col-xs-12 col-sm-4 text-center feature">

                                    <i class="fa fa-rocket"></i>

                                    <h2 class="strong upper">Pengguna</h2>

                                    <div class="description">
                                        Pengguna dapat melakukan pencarian dan visualisasi data 
                                        dan informasi geospasial yang tersedia pada simpul. 
                                        Pengguna internal dapat mengunggah, mengelola dan 
                                        membagi data dan informasi spasial.
                                    </div>

                            </div>
                            <!-- Feature / END -->

                            <!-- Feature / START -->
                            <div class="col-xs-12 col-sm-4 text-center feature">

                                <i class="fa fa-retweet"></i>

                                <h2 class="strong upper">Administrator</h2>

                                <div class="description">
                                    Platform PALAPA dapat diandalkan dan dikembangkan untuk 
                                    membangun aplikasi simpul jaringan sebagai bagian dari JIGN. 
                                    Framework yang digunakan mendukung standar OGC dan ISO. 
                                    Disamping itu juga pengelolaan metadata yang terintegrasi d
                                    engan data dan informasi geospasial.
                                </div>

                            </div><!-- Feature / END -->

                            <!-- Feature / START -->
                            <div class="col-xs-12 col-sm-4 text-center feature">

                                <i class="fa fa-clock-o"></i>

                                <h2 class="strong upper">Pengembang</h2>

                                <div class="description">
                                    PALAPA dikembangkan menggunakan project open source 
                                    yang terpercaya seperti GeoServer, PostGIS, 
                                    OpenLayers dan pyCSW. API tersedia dan dapat dikustomisasi 
                                    dan diintegrasikan dengan aplikasi lainnya.
                                </div>

                            </div><!-- Feature / END -->

                        </div>

                    </div><!-- Features / END -->

                </div><!-- Container / END -->

            </section>

        <!-- Footer area / START -->
        <footer class="footer-section">
            <div class="footer-above">
                <div class="container">
                    <div class="row">

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="title">
                                <h2>Tentang</h2>
                                <hr/>
                            </div>

                            <div class="content">

                                Geoportal PALAPA dikembangkan oleh Badan Informasi Geospasial (BIG) dan dapat digunakan secara bebas oleh Kementerian dan Lembaga, Pemerintah Provinsi, Pemerintah Kota dan Kabupaten sebagai aplikasi simpul jaringan di instansi masing-masing. Geoportal PALAPA ini merupakan aplikasi open source.
                                
                            </div>

                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="title">
                                <h2>Kontak</h2>
                                <hr/>
                            </div>

                            <div class="content">
<p>$$rep:organization$$</p>
<p>$$rep:address$$</p>

<p>Email: <a href="mailto:$$rep:email$$">$$rep:email$$</a></p>
<p>Telp: $$rep:voice$$</p>
<p>Fax: $$rep:fax$$</p>

                            </div>

                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="title">
                                <h2>Didukung Oleh</h2>
                                <hr/>
                            </div>

                            <div class="content">

                                <a target="_blank" href="http://www.big.go.id/">
                                    <img alt="Badan Informasi Geospasial" src="http://www.big.go.id/themes/big/images/logo.png"/>
                                </a>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer area / END -->

        <!-- Regular footer / START -->
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        Copyright Badan Informasi Geospasial &copy; 2016
                    </div>

                </div>
            </div>
        </div>
        <!-- Regular footer / END -->

        </div><!-- Main content / END -->

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="../js/main.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    </body>
</html>
